.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
build/
.cache/
.parcel-cache/
.next/
out/
.env
.env.*
*.pem
*.key
*.p12
*.crt
*.zip
*.tar
*.gz
*.7z
*.wav
*.mp3
*.m4a
*.mp4
_local/
temp/
